body{
    background-color:#222930;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color:#e9e9e9;
   }
   .p1{
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .songs{
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .liveaid{
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .p3{
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .p2{
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   h1{
       height:10vh;
       font-family:monospace;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color:white;
       background-color:black;
   }
   h3{
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight:bolder;
       text-decoration: underline;
   }
   .pic{
       float: right;
   }
   .pic2{
       float: right;
   }
   a{
       color:#e9e9e9;
   }
   h2{
       font-family:monospace;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color:white;
       background-color:black;
   }
   .main-pic{
       display:block;
       margin-left:auto;
       margin-right:auto;
       width:50%;
   }
   .band{
       float:right;
   }
